extends layout

include _includes/sharedHTMLfunctions

block content
  .row.page-header
    .col-lg-12
      h1 #{pageHeader.title}
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-md-6
          p.rating
            +outputRating(location.rating)
          p Calle 125, Medellin
          .panel.panel-primary
            .panel-heading
              h2.panel-title Hora de apertura
            .panel-body
              each time in location.openingTimes
                p
                  | #{time.days} : 
                  if time.closed
                    | cerrado
                  else
                    | #{time.opening} - #{time.closing}
          .panel.panel-primary
            .panel-heading
              h2.panel-title Facilidades
            .panel-body
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp; Licorera
              | &nbsp;
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp; Comidas
              | &nbsp;
              span.label.label-warning
                span.glyphicon.glyphicon-ok
                | &nbsp; Lugares con Wifi
              | &nbsp;
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Mapa de Ubicacion
            .panel-body
              img.img-responsive.img-rounded(src="http://maps.googleapis.com/maps/api/staticmap?center=#{location.coords.lat},#{location.coords.lng}&zoom=17&size=400x350&sensor=false&markers=#{location.coords.lat},#{location.coords.lng}&scale=2")
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-right(href="/location/review/new") Agregar analisis

              h2.panel-title Analisis de Clientes
            .panel-body.review-container
              .row
                each review in location.reviews
                  .review
                    .well.well-ms.review-header
                      span.rating
                        +outputRating(review.rating)
                      span.reviewAuthor #{review.author}
                      small.reviewTimestamp #{review.timestamp}
                    .col-xs-12
                      p !{review.reviewText}
    .col-xs-12.col-md-3
      p.lead #{callToAction}